<main class="main">
    <!-- Page Title -->
    <!-- <div class="page-title dark-background" style="background-image: url(assets/img/page-title-bg.webp);"> -->
        <div class="page-title dark-background" style="background-image: url(assets/img/page-title-bg.jpg);">
    
            <div class="container position-relative">
                <h1>Search</h1>
                <nav class="breadcrumbs">
                <ol>
                    <li><a routerLink="/" routerLinkActive="active" class="active">Home</a></li>
                    <li class="current">Search</li>
                </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->

        <!-- Starter Section Section -->
        <section id="starter-section" class="starter-section section">

            <!-- Section Title -->
            <div class="container section-title" >
            <!-- <h2>Starter Section</h2> -->
            <p><span class="description-title">Use the search bar to find a place<br></span></p>
            </div><!-- End Section Title -->
            
            <div class="container col-md-5">
                <div class="container mt-4 mb-5">
                    <div class="input-group">
                      <input type="text" class="form-control" [(ngModel)]="searchPlace" placeholder="Search..." aria-label="Campo de busca">
                      <button class="btn btn-secondary" type="button" (click)="search()">

                        <i class="bi bi-search"></i>
                      </button>
                    </div>
                  </div>
            </div>

            <div class="col-md-12 p-5">
                <div class="container scrollable-table p-0 col-md-8 ">
                    <table class="table table-bordered">
                        <thead class="thead-light sticky-header">
                            <tr>
                                <th class="col-md-6 col-sm-10" scope="col">Place Name</th>
                                <th class="col-md-4 col-sm-1" scope="col">Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let place of places">
                                <td scope="row"><a class="a-def ms-2" routerLink="/place/{{place.id}}"><i class="bi bi-geo-alt-fill"></i>{{place.name}}</a></td>
                                <td>{{place.address}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
</main>