<main class="main">
    <!-- Page Title -->
    <!-- <div class="page-title dark-background" style="background-image: url(assets/img/page-title-bg.webp);"> -->
        <div class="page-title dark-background" style="background-image: url(assets/img/page-title-bg.jpg);">
    
            <div class="container position-relative">
                <h1>Profile</h1>
                <p></p>
                <nav class="breadcrumbs">
                <ol>
                    <li><a routerLink="/" routerLinkActive="active" class="active">Home</a></li>
                    <li class="current">Profile</li>
                </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->
                <!-- Starter Section Section -->
        <section id="starter-section" class="starter-section section">

            <div class="container col-md-12">
                <div class="row">
                    <div class="col-md-5 m-1 border p-3">
                        <p class="fs-5 mb-3"><strong>User details</strong></p>
                        <p><strong>Name: </strong><span>{{user.name}}</span></p>
                        <p><strong>Email: </strong><span>{{user.email}}</span></p>
                        <p><strong>Date of Birth: </strong>{{user.dateOfBirth}}</p>
                        <p><strong>notifications: </strong>{{user.notifications}}</p>
                        <button class="btn btn-secondary form-login-btn" (click)="reload()">Refresh</button>
                    </div>
                    <div class="col-md-5 m-1 p-3 pt-0">
                        <p class="fs-5 mb-3"><strong>User information</strong></p> 
                        <ul class="list-group list-group-numbered">
                            <li class="list-group-item">How often do you go to bars or clubs?<br>
                                <!-- <p class="mt-1 mb-1">Option: {{securityInfo?.question1}}</p> -->
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="question1" (change)="$event">
                                    <option value="Regularly">Regularly</option>
                                    <option value="Occasionally">Occasionally</option>
                                    <option value="Rarely">Rarely</option>
                                  </select>
                            </li>
                            <li class="list-group-item">What type of place do you usually visit?<br>
                                <!-- <p class="mt-1 mb-1">Option: {{securityInfo?.question2}}</p> -->
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="question2" (change)="$event">
                                    <option value="Quiet bars">Quiet bars</option>
                                    <option value="Nightclubs">Nightclubs</option>
                                    <option value="Restaurants">Restaurants</option>
                                    <option value="Pubs">Pubs</option>
                                  </select>
                            </li>
                            <li class="list-group-item">Do you usually go out alone or with company?<br>
                                <!-- <p class="mt-1 mb-1">Option: {{securityInfo?.question3}}</p> -->
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="question3" (change)="$event">
                                    <option value="Always alone">Always alone</option>
                                    <option value="In a group">In a group</option>
                                    <option value="Both">Both</option>
                                  </select>
                            </li>
                            <li class="list-group-item">How do you usually get home after going out?<br>
                                <!-- <p class="mt-1 mb-1">Option: {{securityInfo?.question4}}</p> -->
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="question4" (change)="$event">
                                    <option value="Ride-sharing apps">Ride-sharing apps</option>
                                    <option value="Public transportation">Public transportation</option>
                                    <option value="Own car">Own car</option>
                                    <option value="On foot">On foot</option>
                                  </select>
                            </li>
                            <li class="list-group-item">"Have you ever experienced a risky situation in bars or clubs?<br>
                                <!-- <p class="mt-1 mb-1">Option: {{securityInfo?.question5}}</p> -->
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="question5" (change)="$event">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                    <option value="Prefer not to answer">Prefer not to answer</option>
                                  </select>
                            </li>
                        </ul>
                        <button type="button" class=" form-login-btn btn btn-primary btn-sm btn-lg mt-3" (click)="saveSecurityOption()">Save</button>
                    </div>
                </div>
                <!-- Place comments -->
                <div class="row col-md-12 mt-5">
                    <h3 class="text-left">Places you have commented</h3>
                    <hr>
                    <div class="scrollable-text" >
                        <div *ngFor="let report of reports">
                            <p class="fs-6"><strong>{{user.username}}</strong></p>
                            <p>{{report.comment}}</p>    
                            <p>Date: {{ report.createdAt | date:'dd/MM/yyyy' }}</p>
                            <a href="/place/{{report.placeId}}" class="text-decoration-underline" style="color: #444444;">Go to place</a>
                            <hr>
                        </div>
                    </div>

                </div>
            </div>
        </section>
</main>        
