<main class="main">
    <!-- Page Title -->
    <!-- <div class="page-title dark-background" style="background-image: url(assets/img/page-title-bg.webp);"> -->
        <div class="page-title dark-background" style="background-image: url(assets/img/page-title-bg.jpg);">
    
            <div class="container position-relative">
                <h1>Profile</h1>
                <p></p>
                <nav class="breadcrumbs">
                <ol>
                    <li><a routerLink="/" routerLinkActive="active" class="active">Home</a></li>
                    <li class="current">Profile</li>
                </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->
                <!-- Starter Section Section -->
        <section id="starter-section" class="starter-section section">

            <div class="container col-md-12">
                <div class="row">
                    <div class="col-md-5 m-1">
                        <p class="fs-5 mb-3"><strong>User details</strong></p>
                        <p><strong>Name: </strong><span>Fulaninha</span></p>
                        <p><strong>Email: </strong><span>fulana&#64;fulana.com</span></p>
                        <p><strong>Date of Birth: </strong>10/10/1999</p>
                    </div>
                    <div class="col-md-5">
                        <p class="fs-5 mb-3"><strong>Security preferences</strong></p>
                        <ul>
                            <li>Sec preference 1</li>
                            <li>Sec preference 2</li>
                            <li>Sec preference 3</li>
                            <li>Sec preference 4</li>
                            <li>Sec preference 5</li>
                        </ul>
                    </div>
                </div>
                <!-- Place comments -->
                <div class="row col-md-12 mt-5">
                    <h3 class="text-left">Commented places</h3>
                    <hr>
                    <div class="scrollable-text">
                        <p class="fs-6"><strong>Annonymous</strong></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quo maiores? Nobis ex soluta, rem doloribus officia nostrum tempora at cum fugiat consequuntur, dolores quisquam commodi nulla, accusantium reprehenderit amet.</p>    
                        <p>date: 28/10/2021</p>
                        <hr>
                        <p class="fs-6"><strong>Annonymous</strong></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quo maiores? Nobis ex soluta, rem doloribus officia nostrum tempora at cum fugiat consequuntur, dolores quisquam commodi nulla, accusantium reprehenderit amet.</p>    
                        <p>date: 28/10/2021</p>
                        <hr>
                        <p class="fs-6"><strong>Annonymous</strong></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quo maiores? Nobis ex soluta, rem doloribus officia nostrum tempora at cum fugiat consequuntur, dolores quisquam commodi nulla, accusantium reprehenderit amet.</p>    
                        <p>date: 28/10/2021</p>
                        <hr>
                        <p class="fs-6"><strong>Annonymous</strong></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quo maiores? Nobis ex soluta, rem doloribus officia nostrum tempora at cum fugiat consequuntur, dolores quisquam commodi nulla, accusantium reprehenderit amet.</p>    
                        <p>date: 28/10/2021</p>
                        <hr>                            
                    </div>

                </div>
            </div>
        </section>
</main>        
