<main class="main">
    <!-- Page Title -->
    <!-- <div class="page-title dark-background" style="background-image: url(assets/img/page-title-bg.webp);"> -->
        <div class="page-title dark-background" style="background-image: url(assets/img/page-title-bg.jpg);">
    
            <div class="container position-relative">
                <h1>Profile</h1>
                <p></p>
                <nav class="breadcrumbs">
                <ol>
                    <li><a routerLink="/" routerLinkActive="active" class="active">Home</a></li>
                    <li class="current">Profile</li>
                </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->
                <!-- Starter Section Section -->
        <section id="starter-section" class="starter-section section">

            <div class="container col-md-12">
                <div class="row">
                    <div class="col-md-5 m-1">
                        <p class="fs-5 mb-3"><strong>User details</strong></p>
                        <p><strong>Name: </strong><span>{{user.name}}</span></p>
                        <p><strong>Email: </strong><span>{{user.email}}</span></p>
                        <p><strong>Date of Birth: </strong>{{user.dateOfBirth}}</p>
                        <p><strong>notifications: </strong>{{user.notifications}}</p>
                        <button (click)="reload()">Refresh</button>
                    </div>
                    <div class="col-md-5">
                        <p class="fs-5 mb-3"><strong>User information</strong></p>
                        <ul class="list-group list-group-numbered">
                            <li class="list-group-item">How often do you go to bars or clubs?
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="question1" (change)="$event">
                                    <option selected >Select and option</option>
                                    <option value="Regularly">Regularly</option>
                                    <option value="Occasionally">Occasionally</option>
                                    <option value="Rarely">Rarely</option>
                                  </select>
                            </li>
                            <li class="list-group-item">What type of place do you usually visit?
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="question2" (change)="$event">
                                    <option vaçie="Quiet bars">Quiet bars</option>
                                    <option value="Nightclubs">Nightclubs</option>
                                    <option value="Restaurants">Restaurants</option>
                                    <option value="Pubs">Pubs</option>
                                  </select>
                            </li>
                            <li class="list-group-item">Do you usually go out alone or with company?
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="question3" (change)="$event">
                                    <option vaçie="Always alone">Always alone</option>
                                    <option value="In a group">In a group</option>
                                    <option value="Both">Both</option>
                                  </select>
                            </li>
                            <li class="list-group-item">How do you usually get home after going out?
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="question4" (change)="$event">
                                    <option vaçie="Ride-sharing apps">Ride-sharing apps</option>
                                    <option value="Public transportation">Public transportation</option>
                                    <option value="Own car">Own car</option>
                                    <option value="On foot">On foot</option>
                                  </select>
                            </li>
                            <li class="list-group-item">"Have you ever experienced a risky situation in bars or clubs?
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="question5" (change)="$event">
                                    <option vaçie="Yes">Yes</option>
                                    <option value="No">Public transportation</option>
                                    <option value="Prefer not to answer">Prefer not to answer</option>
                                  </select>
                            </li>
                        </ul>
                        <ul>
                            <li>{{question1}}</li>
                            <li>{{question2}}</li>
                            <li>{{question3}}</li>
                            <li>{{question4}}</li>
                            <li>{{question5}}</li>
                        </ul>
                        <button type="button" class="btn btn-primary btn-lg mt-3">Save</button>
                    </div>
                </div>
                <!-- Place comments -->
                <div class="row col-md-12 mt-5">
                    <h3 class="text-left">Commented places</h3>
                    <hr>
                    <div class="scrollable-text">
                        <p class="fs-6"><strong>Annonymous</strong></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quo maiores? Nobis ex soluta, rem doloribus officia nostrum tempora at cum fugiat consequuntur, dolores quisquam commodi nulla, accusantium reprehenderit amet.</p>    
                        <p>date: 28/10/2021</p>
                        <hr>
                        <p class="fs-6"><strong>Annonymous</strong></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quo maiores? Nobis ex soluta, rem doloribus officia nostrum tempora at cum fugiat consequuntur, dolores quisquam commodi nulla, accusantium reprehenderit amet.</p>    
                        <p>date: 28/10/2021</p>
                        <hr>
                        <p class="fs-6"><strong>Annonymous</strong></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quo maiores? Nobis ex soluta, rem doloribus officia nostrum tempora at cum fugiat consequuntur, dolores quisquam commodi nulla, accusantium reprehenderit amet.</p>    
                        <p>date: 28/10/2021</p>
                        <hr>
                        <p class="fs-6"><strong>Annonymous</strong></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quo maiores? Nobis ex soluta, rem doloribus officia nostrum tempora at cum fugiat consequuntur, dolores quisquam commodi nulla, accusantium reprehenderit amet.</p>    
                        <p>date: 28/10/2021</p>
                        <hr>                            
                    </div>

                </div>
            </div>
        </section>
</main>        
