<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <!-- <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in"> -->
      <img src="assets/img/hero-bg.jpg" alt="" >
      <div class="container text-center" >
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h2>Welcome to Her Place</h2>
            <p>Empowering your nights, protecting your moments.</p>
            <!-- <p>Her comfort, Her safety, HerPlace.</p> -->
            <a routerLink="/search" routerLinkActive="active" class="btn-get-started">Start now</a>
            
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->
    <section id="starter-section" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title">
        <!-- <h2>Starter Section</h2> -->
        <p><span>A place to find </span> <span class="description-title"> the perfect place<br></span></p>
      </div><!-- End Section Title -->
  
      <div class="container">
        <p>HerPlace is a web application designed to women by providing them real-time safety insights and
           comfort evaluations for bars and clubs. In many cities, women face concerns about safety and comfort 
           in nightlife, HerPlace is a crowd-sourced platform where users can access detailed safety information, 
           such as reports of harassment, uncomfortable situations, or unsafe environments, it also rates places 
           on how well they accommodate women’s needs, from the availability of feminine hygiene products to the 
           general comfort of the atmosphere.
        </p>
  
        <br>
  
        <p>Through a search interface, women can explore places, view safety ratings, and read personalized tips, 
          the application uses AI to generate custom safety recommendations based on user preferences and location, 
          creating a personalised experience. Integrating a rating system for comfort and safety, HerPlace encourages 
          nightlife venues to improve their services and adapt to a more inclusive environment for women.
        </p>
        <br>
        <p>In addition to its safety focus, HerPlace promotes community engagement, allowing users to report incidents, 
          share feedback on the environment, and support others in making informed choices, with HerPlace women can enjoy 
          their nights out with confidence, knowing they have access to critical information that prioritizes their well-being.</p>
      </div>


  
    </section><!-- /Starter Section Section -->
</main>
