<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <!-- <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in"> -->
      <img src="assets/img/hero-bg.jpg" alt="" >
      <div class="container text-center" >
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h2>Welcome to Her Place</h2>
            <p>Empowering your nights, protecting your moments.</p>
            <!-- <p>Her comfort, Her safety, HerPlace.</p> -->
            <a routerLink="/place" routerLinkActive="active" class="btn-get-started">Get Started</a>
            
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->
    <section id="starter-section" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title">
        <!-- <h2>Starter Section</h2> -->
        <p><span>A place to find </span> <span class="description-title"> the perfect place<br></span></p>
      </div><!-- End Section Title -->
  
      <div class="container">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem non molestiae voluptas exercitationem qui accusamus atque et ea voluptatem, iste eius impedit quasi minus aut, ratione odit possimus error placeat.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum sequi veritatis vel aspernatur neque natus nostrum provident asperiores cumque temporibus saepe autem quisquam eaque ducimus, maxime similique, modi odit laborum.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quo porro non deserunt dolor quidem eligendi culpa dolore quae impedit expedita odit quibusdam minus commodi ut voluptatum, delectus unde optio?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident deleniti veritatis vero sunt, dolor voluptas sed atque quasi asperiores et quia non debitis placeat, modi deserunt corporis eligendi voluptatum eum?
        </p>
  
        <br>
  
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem non molestiae voluptas exercitationem qui accusamus atque et ea voluptatem, iste eius impedit quasi minus aut, ratione odit possimus error placeat.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum sequi veritatis vel aspernatur neque natus nostrum provident asperiores cumque temporibus saepe autem quisquam eaque ducimus, maxime similique, modi odit laborum.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quo porro non deserunt dolor quidem eligendi culpa dolore quae impedit expedita odit quibusdam minus commodi ut voluptatum, delectus unde optio?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident deleniti veritatis vero sunt, dolor voluptas sed atque quasi asperiores et quia non debitis placeat, modi deserunt corporis eligendi voluptatum eum?
        </p>
      </div>


  
    </section><!-- /Starter Section Section -->
</main>
