<main class="main">


        <div class="container-fluid">
            <div class="row">
              <!-- Coluna da Imagem -->
              <div class="col-md-6 left-image-login d-none d-md-block"></div>
          
              <!-- Coluna do Formulário -->
              <div class="col-md-6 form-container ">
                <form class="w-75">
                  <h2 class="mb-4 text-center">Login</h2>
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" id="username" placeholder="Digite seu usuário">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" id="password" placeholder="Digite sua senha">
                  </div>
                  <button type="submit" class="btn form-login-btn w-100 mt-3"(click)="login()">Entrar</button>
                
                  <div *ngIf="alerMsg == true">
                    <div class="alert alert-danger alert-dismissible d-flex align-items-center mt-5" role="alert">
                      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                      <div>
                        User or password does not match
                      </div>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  </div>
                </form>
                
              </div>
            </div>
          </div>

</main>