<main class="main">
    <!-- Page Title -->
        <div class="page-title dark-background" style="background-image: url(assets/img/page-title-bg.jpg);">
    
            <div class="container position-relative">
                <h1>Moderator</h1>
                <nav class="breadcrumbs">
                <ol>
                    <li><a routerLink="/" routerLinkActive="active" class="active">Home</a></li>
                    <li class="current">Moderator</li>
                </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->

        <!-- Starter Section Section -->
        <section id="starter-section" class="starter-section section">
            
            <div class="col-md-12 container">

<!-- --------------------------------------- USERS ----------------------------------------------------- -->
                <div class="row col-md-12 ">
                    <div class="col-md-6">
                        <h2 class="mt-5 ps-0">Data</h2>
                    </div>    
                    <div class="col-md-6">
                        <h2 class="mt-5 ps-0">Users</h2>
                    </div>    
                </div>

                <div class="row">     
                    
                    <div class="col-md-6 row">
                        <div class="col-sm-6 ">
                          <div class="card bd-callout bd-callout-herplace">
                            <div class="card-body">
                              <h5 class="card-title">Total users</h5>
                              <p class="card-text">{{metrics?.totalUsers}}</p>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-6">
                          <div class="card bd-callout bd-callout-herplace">
                            <div class="card-body">
                              <h5 class="card-title">Total Places</h5>
                              <p class="card-text">{{metrics?.totalPlaces}}</p>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-6 mt-5">
                            <div class="card bd-callout bd-callout-herplace">
                              <div class="card-body">
                                <h5 class="card-title">Total Reports</h5>
                                <p class="card-text">{{metrics?.totalReports}}</p>
                              </div>
                            </div>
                        </div> 
                        
                        <div class="col-sm-6 mt-5">
                            <div class="card bd-callout bd-callout-herplace pe-0">
                              <div class="card-body">
                                <h5 class="card-title">Reported Comments</h5>
                                <p class="card-text">{{metrics?.totalReportedComments}}</p>
                              </div>
                            </div>
                        </div>
                    </div>  

                    <div class="scrollable-table p-0 col-md-6 ">
                        <table class="table table-bordered">
                            <thead class="thead-light sticky-header">
                                <tr>
                                    <th class="col-md-6 col-sm-10" scope="col">Name</th>
                                    <th class="col-md-4 col-sm-1" scope="col">Username</th>
                                    <th class="col-md-2 col-sm-1" scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let person of users">
                                    <td scope="row">{{person.name}}</td>
                                    <td>{{person.username}} <span *ngIf="person.role == 'ADMIN'"><i alt="Moderator" class="bi bi-shield"></i></span></td>
                                    <td class="text-center">
                                        <button (click)="updateActiveStatus(person.username)" *ngIf="person.active == true" class="btn btn btn-success btn-sm"><i class="bi bi-unlock-fill fw-bold"></i></button>
                                        <button (click)="updateActiveStatus(person.username)" *ngIf="person.active == false" class="btn btn-danger btn-sm"><i class="bi bi-lock-fill fw-bold"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                </div>
            <!--------------------------------------Reported Comments ------------------------------>
                <div class="col-md-12 row">
                    <div class="col-md-6">
                        <h2 class="mt-5 ps-0">Reported Comments
                            <button class="btn btn-sm form-login-btn ms-3 text-center" (click)="getReportedReports()">
                                <i class="bi bi-arrow-clockwise text-center d-flex"></i>
                            </button>
                        </h2>
                    </div>
                </div>

                <div class="scrollable-table row col-md-12" *ngIf="ReportedReports && ReportedReports.length > 0">
                    <table class="table table-bordered">
                        <thead class="thead-light sticky-header">
                            <tr>
                                <th class="col-md-3 col-sm-6" scope="col">Report Type</th>
                                <th class="col-md-3 col-sm-6" scope="col">Place</th>
                                <th class="col-md-2 col-sm-3" scope="col">Reported By</th>
                                <th class="col-md-5 col-sm-6" scope="col">Message</th>
                                <th class="col-md-5 col-sm-6" scope="col">Delete</th>
                                <th class="col-md-5 col-sm-6" scope="col">Keep</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr *ngFor="let report of ReportedReports">
                                <td scope="row">{{report.reportType}}</td>
                                <td><a routerLink="/place/{{report.place}}" routerLinkActive="active" class="a-def ms-2">{{report.placeName}}<i class="bi bi-geo-alt-fill"></i></a></td>
                                <td>{{report.reportedBy}}</td>
                                <td>{{report.message}}</td>
                                <td class="d-flex justify-content-center align-items-center">
                                    <!-- button to call the modal -->
                                    <button class="btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-trash-fill"></i></button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            Do you really want to delete this comment?<br><strong>This operation can't be undone!</strong>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                                            <button type="button" class="btn btn-danger" (click)="deleteComment(report.id)" data-bs-dismiss="modal">Yes, delete.</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                <!-- End Modal -->
                                </td>
                                <td class="text-center">
                                    <button (click)="keepComment(report.id)" class="btn btn-success"><i class="bi bi-check-lg"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Message in case of empty list 
                 this ngIf checks is the reportedReports exists and if it is > 0-->
                <div class="scrollable-table row col-md-12 mt-3 p-5" *ngIf="ReportedReports && ReportedReports?.length == 0">
                    <h3>No comments reported yet</h3>
                </div>
            </div>
<!-- test  -->

<!-- End -->
        </section>
</main>