<main class="main">
    <!-- Page Title -->
    <!-- <div class="page-title dark-background" style="background-image: url(assets/img/page-title-bg.webp);"> -->
        <div class="page-title dark-background" style="background-image: url(assets/img/page-title-bg.jpg);">
    
            <div class="container position-relative">
                <h1>Moderator</h1>
                <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>
                <nav class="breadcrumbs">
                <ol>
                    <li><a routerLink="/" routerLinkActive="active" class="active">Home</a></li>
                    <li class="current">Moderator</li>
                </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->

        <!-- Starter Section Section -->
        <section id="starter-section" class="starter-section section">

            <!-- Section Title -->
            <div class="container section-title" >
            <!-- <h2>Starter Section</h2> -->
            <p><span class="description-title"><br></span></p>
            </div><!-- End Section Title -->
            
            <div class="col-md-12 container">
                <!-- TOP CARD -->
                <div class="row">
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Total users</h5>
                          <p class="card-text">10</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Total Comments</h5>
                          <p class="card-text">150</p>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="row col-md-12">
                    <h2 class="mt-5">Users</h2>
                    <div class="scrollable-text p-2 ms-2 border align-items-center">
                            <div class="d-flex ">
                                <p class="fs-6 me-auto mt-2"><strong>Fulana</strong></p>
                                <i class="bi bi-ban"></i>
                            </div>
                            <hr>
                            <div class="d-flex align-items-center">
                                <p class="fs-6 me-auto"><strong>Fulana</strong></p>
                                <i class="bi bi-ban"></i>
                            </div>
                            <hr>
                            <div class="d-flex align-items-center">
                                <p class="fs-6 me-auto"><strong>Fulana</strong></p>
                                <i class="bi bi-ban"></i>
                            </div>
                            <hr>
                            <div class="d-flex align-items-center">
                                <p class="fs-6 me-auto"><strong>Fulana</strong></p>
                                <i class="bi bi-ban"></i>
                            </div>
                            <hr>
                            <div class="d-flex align-items-center">
                                <p class="fs-6 me-auto"><strong>Fulana</strong></p>
                                <i class="bi bi-ban"></i>
                            </div>
                            <hr>
                            <div class="d-flex align-items-center">
                                <p class="fs-6 me-auto"><strong>Fulana</strong></p>
                                <i class="bi bi-ban"></i>
                            </div>
                            <hr>
                            <div class="d-flex align-items-center">
                                <p class="fs-6 me-auto"><strong>Fulana</strong></p>
                                <i class="bi bi-ban"></i>
                            </div>
                            <hr>
                    </div>
                </div>
                <div class="row col-md-12">
                    <h2 class="mt-5">Reported Comments</h2>
                    <div class="scrollable-text p-2 ms-2 border align-items-center">
                            <div class="d-flex ">
                                <p class="fs-6 me-auto mt-2"><strong>Fulana</strong></p>
                                <i class="bi bi-ban"></i>
                            </div>
                            <hr>
                            <div class="d-flex align-items-center">
                                <p class="fs-6 me-auto"><strong>Fulana</strong></p>
                                <i class="bi bi-ban"></i>
                            </div>
                            <hr>
                            <div class="d-flex align-items-center">
                                <p class="fs-6 me-auto"><strong>Fulana</strong></p>
                                <i class="bi bi-ban"></i>
                            </div>
                            <hr>
                            <div class="d-flex align-items-center">
                                <p class="fs-6 me-auto"><strong>Fulana</strong></p>
                                <i class="bi bi-ban"></i>
                            </div>
                            <hr>
                            <div class="d-flex align-items-center">
                                <p class="fs-6 me-auto"><strong>Fulana</strong></p>
                                <i class="bi bi-ban"></i>
                            </div>
                            <hr>
                            <div class="d-flex align-items-center">
                                <p class="fs-6 me-auto"><strong>Fulana</strong></p>
                                <i class="bi bi-ban"></i>
                            </div>
                            <hr>
                            <div class="d-flex align-items-center">
                                <p class="fs-6 me-auto"><strong>Fulana</strong></p>
                                <i class="bi bi-ban"></i>
                            </div>
                            <hr>
                    </div>
                </div>
            </div>
 

        </section>
</main>