<header id="header" class="header d-flex align-items-center fixed-top cont">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <a routerLink="/" routerLinkActive="active" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="sitename">Her Place</h1>
    </a>

    <nav id="navmenu" class="navmenu navbar ">
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a routerLink="/search" routerLinkActive="active" >Search</a></li>
        <li><a routerLink="/login" routerLinkActive="active" ><!-- <span class="material-symbols-outlined">face_3</span>-->Login</a></li>
        <li><a routerLink="/register" routerLinkActive="active" ><!-- <span class="material-symbols-outlined">face_3</span>-->Register</a></li>
        <li><a routerLink="/user" routerLinkActive="active" ><span class="material-symbols-outlined">face_3</span></a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

  </div>
</header>

<router-outlet></router-outlet>

<app-footer></app-footer>

