<main class="main">
    <!-- Page Title -->
    <!-- <div class="page-title dark-background" style="background-image: url(assets/img/page-title-bg.webp);"> -->
        <div class="page-title dark-background" style="background-image: url(assets/img/page-title-bg.jpg);">
      
            <div class="container position-relative">
              <h1>Place</h1>
              <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>
              <nav class="breadcrumbs">
                <ol>
                  <li><a routerLink="/" routerLinkActive="active" class="active">Home</a></li>
                  <li class="current">Place</li>
                </ol>
              </nav>
            </div>
        </div><!-- End Page Title -->
      
          <!-- Starter Section Section -->
        <section id="starter-section" class="starter-section section">
      
            <!-- Section Title -->
            <div class="container section-title" >
              <!-- <h2>Starter Section</h2> -->
              <p><span>Welcome to </span> <span class="description-title">Use angular to get the name of the place<br></span></p>
            </div><!-- End Section Title -->
      
            <div class="container">
                <!-- <form action="">
                    <label for="Latitude">latitude: </label>
                    <input type="number" [(ngModel)]="lat" name="latitude" id="" placeholder="Digite a latitude">
                    
                    <label for="longitude">longitude: </label>
                    <input type="number" [(ngModel)]="lng" name="latitude" id="" placeholder="Digite a longitude">
                </form>
                <button (click)="initMap()">Update map</button>
            
                <p>  
                    lat:number = 53.3489292;
                    lng:number = -6.2429928;
                </p> -->
                <br>
            <!-- Map -->
                <google-map [center]="center" [zoom]="zoom" height="400px" width="100%">
                    <map-marker [position]="markerPosition"></map-marker>
                </google-map>

                <!-- place ratings  -->
                <div class="container mt-5 col-md-12 mb-5">
                    <div class="row">
                        <div class="container col-md-6 gap-5 ms-0 p-5">
                            
                            <div class="container-fluid p-1">
                                <div class="d-flex align-items-center gap-2">
                                  <div class="progress-bar-label">Safety</div>
                                  <div class="progress" style="width: 20em">
                                    <div class="progress-bar progress-bar-style" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <div class="ms-2">4</div>
                                </div>

                                <div class="d-flex align-items-center gap-2 mt-2">
                                    <div class="progress-bar-label">Welcoming</div>
                                    <div class="progress" style="width: 20em">
                                        <div class="progress-bar progress-bar-style" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="ms-2">4</div>
                                </div>
                                <div class="d-flex align-items-center gap-2 mt-2">
                                    <div class="progress-bar-label">Toilets</div>
                                    <div class="progress" style="width: 20em">
                                        <div class="progress-bar progress-bar-style" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="ms-2">4</div>
                                </div>
                                <div class="d-flex align-items-center gap-2 mt-2">
                                    <div class="progress-bar-label">Feminine Products</div>
                                    <div class="progress" style="width: 20em">
                                        <div class="progress-bar progress-bar-style" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="ms-2">4</div>
                                </div>
                                <div class="d-flex align-items-center gap-2 mt-2">
                                    <div class="progress-bar-label">Illumination</div>
                                    <div class="progress" style="width: 20em">
                                        <div class="progress-bar progress-bar-style" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="ms-2">4</div>
                                </div>
                                <div class="d-flex align-items-center gap-2 mt-2">
                                    <div class="progress-bar-label">Crowd Quality</div>
                                    <div class="progress" style="width: 20em">
                                        <div class="progress-bar progress-bar-style" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="ms-2">4</div>
                                </div>
                                <div class="d-flex align-items-center gap-2 mt-2">
                                    <div class="progress-bar-label">Privacy</div>
                                    <div class="progress" style="width: 20em">
                                        <div class="progress-bar progress-bar-style" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="ms-2">4</div>
                                </div>
                                <div class="d-flex align-items-center gap-2 mt-2">
                                    <div class="progress-bar-label">Safety Info</div>
                                    <div class="progress" style="width: 20em">
                                        <div class="progress-bar progress-bar-style" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="ms-2">4</div>
                                </div>

                            </div>
                        </div>
                        <!-- Place comments -->
                        <div class="container col-sm-6">
                            <h3 class="text-center">Reviews</h3>
                            <hr>
                            <div class="scrollable-text">
                                <p class="fs-6"><strong>Annonymous</strong></p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quo maiores? Nobis ex soluta, rem doloribus officia nostrum tempora at cum fugiat consequuntur, dolores quisquam commodi nulla, accusantium reprehenderit amet.</p>    
                                <p>date: 28/10/2021</p>
                                <hr>
                                <p class="fs-6"><strong>Annonymous</strong></p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quo maiores? Nobis ex soluta, rem doloribus officia nostrum tempora at cum fugiat consequuntur, dolores quisquam commodi nulla, accusantium reprehenderit amet.</p>    
                                <p>date: 28/10/2021</p>
                                <hr>
                                <p class="fs-6"><strong>Annonymous</strong></p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quo maiores? Nobis ex soluta, rem doloribus officia nostrum tempora at cum fugiat consequuntur, dolores quisquam commodi nulla, accusantium reprehenderit amet.</p>    
                                <p>date: 28/10/2021</p>
                                <hr>
                                <p class="fs-6"><strong>Annonymous</strong></p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quo maiores? Nobis ex soluta, rem doloribus officia nostrum tempora at cum fugiat consequuntur, dolores quisquam commodi nulla, accusantium reprehenderit amet.</p>    
                                <p>date: 28/10/2021</p>
                                <hr>                            
                            </div>

                        </div>
                    </div>
                </div>  

            </div>

        </section><!-- /Starter Section Section -->
</main>

